.body {
  margin: 0px;
  background: rgba(32, 8, 59, 0.75);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  max-width: 1180px;
  margin: 0px auto;
  padding: 0px 10px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background: #01204c drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(32, 8, 59, 0.75);
  backdrop-filter: blur(184.612px);
  z-index: 2;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 61px;
  align-content: center;
  align-items: center;
}

.header__logo {
  display: flex;
  z-index: 3;
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 16.1279px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__logo-span {
  color: #fff;
}

.header__logo img {
  max-width: 100%;
}

.header__burger {
  display: none;
}

.header__list {
  display: flex;
  position: relative;
  z-index: 2;
}

.header__list li {
  margin-left: 66px;
}

.header__link {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 19.8983px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 767px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 7px;
    width: 13.57px;
    height: 2.81px;
    top: 9px;
    transition: all 0.3s ease 0s;
    background: #ffffff;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    border-radius: 10px;
  }
  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 21.71px;
    height: 2.81px;
    left: 0;
    transition: all 0.3s ease 0s;
    border-radius: 10px;
    background: #ffffff;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 0.3s ease 0s;
    background: #01204c;
    padding: 60px 0px 0px 0px;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin-left: 0px;
    margin-bottom: 20px;
  }
}

.content {
  padding-top: 100px;
}

@media (max-width: 767px) {
  .content {
    padding-top: 70px;
  }
  body.lock {
    overflow: hidden;
  }
}

.header__icon {
  background: linear-gradient(92.23deg, #ff56f6 21.43%, #b936ee 50.63%, #3bace2 100%, #406aff 117.04%);
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
  backdrop-filter: blur(212.248px);
}

.hero {
  background: rgba(32, 8, 59, 0.75);
}

.hero__title {
  padding-left: 20px;
  width: 291px;
  height: 161px;
  padding-top: 80px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.38;
  color: #ffffff;
}

.hero_title-control {
  background: linear-gradient(272.38deg, #43a5e3 46.06%, #ff56f6 81.53%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.hero__text {
  padding-left: 20px;
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.64;
  color: #ffffff;
}

.hero__btn {
  margin-left: 20px;
  width: 133.31px;
  height: 34.21px;
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  background: linear-gradient(92.23deg, #ff56f6 21.43%, #b936ee 50.63%, #3bace2 100%, #406aff 117.04%);
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
  backdrop-filter: blur(212.248px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 2.21092px;
}

.hero__link {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  background: linear-gradient(89.89deg, #42a6e3 2.33%, #ff56f6 101.4%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.hero__item {
  margin-left: 20px;
  padding: 0;
  display: flex;
}

.hero__list {
  margin-right: 56px;
}

.hero__tittle-secondary {
  font-family: "Aldrich";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 157% */
  display: flex;
  align-items: center;
  letter-spacing: 0.117972px;
  color: #ffffff;
}

.hero__text-secondary {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  /* identical to box height, or 98% */
  display: flex;
  align-items: center;
  letter-spacing: 0.117972px;
  color: rgba(255, 255, 255, 0.6);
}

.hero__brand-list {
  display: grid;
  gap: 32px 55px;
  grid-template-columns: 1fr 1fr;
}

.hero__brand-icon {
  fill: #fff;
  opacity: 0.5;
}

.hero__box-img {
  width: 300px;
  height: 511.79px;
  filter: drop-shadow(0px 4.42184px 4.42184px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4.42184px 4.42184px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4.42184px 4.42184px rgba(0, 0, 0, 0.25));
}

.hero__box-card {
  display: flex;
  width: 324px;
  height: 174.79px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) -1.52%, rgba(255, 255, 255, 0.024) 104.35%);
  backdrop-filter: blur(58.6184px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 8.52632px;
}

.hero__box__title {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 700;
  font-size: 17.0526px;
  line-height: 34px;
  /* identical to box height, or 200% */
  display: flex;
  align-items: center;
  color: #ffffff;
}

.box-name {
  display: flex;
  align-items: center;
}

.box-name__img {
  margin-left: 2px;
  margin-right: 2px;
}

.hero__text-thirht {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 600;
  font-size: 10.6579px;
  line-height: 34px;
  /* identical to box height, or 320% */
  display: flex;
  align-items: center;
  color: #ffffff;
  opacity: 0.7;
}

.box-price {
  display: flex;
  align-items: center;
}

.box-price__text {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 9.36903px;
  line-height: 12px;
  /* identical to box height */
  color: #ffffff;
}

.box-price__text-secondary {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 400;
  font-size: 10.6579px;
  line-height: 34px;
  /* identical to box height, or 320% */
  display: flex;
  align-items: center;
  /* White/White 100 */
  color: #ffffff;
  opacity: 0.7;
}

.box-price-icon {
  fill: #fff;
}

.box-right {
  display: flex;
  flex-direction: column;
}

.hero__text-fourth {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 600;
  font-size: 10.6579px;
  line-height: 34px;
  /* identical to box height, or 320% */
  display: flex;
  align-items: center;
  color: #ffffff;
  opacity: 0.7;
}

.box-time__list {
  display: flex;
}

.box-time__title {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 600;
  font-size: 17.0526px;
  line-height: 34px;
  /* identical to box height, or 200% */
  display: flex;
  align-items: center;
  color: #ffffff;
}

.box-time__text {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 500;
  font-size: 10.6579px;
  line-height: 34px;
  /* identical to box height, or 320% */
  display: flex;
  align-items: center;
  color: #ffffff;
  opacity: 0.7;
}

.box-confirm__btn {
  width: 115.11px;
  height: 36.24px;
  left: 214.64px;
  top: 1148.37px;
  background: linear-gradient(92.23deg, #ff56f6 21.43%, #b936ee 50.63%, #3bace2 100%, #406aff 117.04%);
  box-shadow: 0px 4.26316px 103.382px rgba(255, 86, 246, 0.51);
  backdrop-filter: blur(204.632px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 2.13158px;
}
/*# sourceMappingURL=main.css.map */