.catalog {
  background: #000000;
  padding-top: 30px;
  padding-bottom: 30px;

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1110px) {
    padding-top: 120px;
    padding-bottom: 110px;
  }
}

.catalog_control {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

//
//

.catalog-title {
  position: relative;
  margin-bottom: 30px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 48px;

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1110px) {
    margin-bottom: 40px;
    font-size: 36px;
  }
}

.catalog-title__line {
  width: 120px;
  border: 1px solid #ffffff;
  margin-bottom: 40px;

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1110px) {
    margin-bottom: 81px;
  }
}
//

.swiper-slide-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 325px;
  margin-bottom: 20px;
  background: #191b1c;
}

.swiper-slide {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.catalog-list__photo {
  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1110px) {
    width: 215px;
    height: 214px;
  }
}

.catalog-list__tittle-card {
  padding-bottom: 10px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  color: #ffffff;
}

.catalog-list__text {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;

  color: #d0d0d0;
}

.swiper-button-next:after {
  font-size: 20px;
  color: #ffffff;
  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    font-size: 50px;
  }

  @media screen and (min-width: 1110px) {
    font-size: 50px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: -20px;
    font-size: 50px;
  }
}

.swiper-button-prev::after {
  font-size: 20px;
  color: #ffffff;

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    font-size: 50px;
  }

  @media screen and (min-width: 1110px) {
    font-size: 50px;
  }
}
